
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700');






.login{
    font-family: 'Josefin Sans', sans-serif;
    padding:40px 0px;
 }
 
 h1{
     font-weight:600;
     font-family: 'Josefin Sans', sans-serif;
     text-transform:uppercase;
     text-align:center;
     color:#740246;
 }
 
 .inner-form{
     padding:60px;
     box-shadow: 0 2px 4px 0 rgba(249, 16, 164, 0.40);
 }
 
 label{
     font-weight:400;
     font-size:15px;
 }
 
 .form-control {
     box-shadow: none;
     outline: 0;
     border-radius:0;
     color: #565656;
     font-size:14px;
     padding:30px 10px;
     margin-bottom:50px;
     border: 1px solid #f2f2f2;
 }
 
 
 .btn{ 
     border: none;
     border-radius: 0;
     color: #6A0229;
     font-size: 16px;
     font-weight: 600;
     padding: 15px 30px;
     text-transform: uppercase;
     width:100%;
 }




.bg, .bg-filter {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  .bg-filter {
    z-index: -99;
    opacity: 0.2;
    background: -webkit-linear-gradient(rgba(49, 224, 247, 1) 0%, rgba(90, 77, 184, 1) 100%);
    background: -moz-linear-gradient(rgba(49, 224, 247, 1) 0%, rgba(90, 77, 184, 1) 100%);
    background: -o-linear-gradient(rgba(49, 224, 247, 1) 0%, rgba(90, 77, 184, 1) 100%);
    background: linear-gradient(rgba(49, 224, 247, 1) 0%, rgba(90, 77, 184, 1) 100%);
  }
  .intro-text {
    font-family: "Open Sans";
    widht: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
    font-size: 56px;
    text-transform: uppercase;
    color: white;
  }
  