<link href="../design/mycss/addnew.css" rel="stylesheet">


<!------ Include the above in your HEAD tag ---------->
<div class="row" id="network-popUp" style="display: block;">
    <br>
    <br>
    <label for="node-label" id="popup-node-id">Branch</label>
    <br>
    <br>
    <span class="has-float-label">
        <div class="form-group">
            <div class="input-group">
                <input class="form-control" type="text" id="node-label">
                <label for="node-label" id="popup-node-id">define new</label>
                <span class="input-group-btn">
                    <button class="btn btn-success" id="saveButton" type="button">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </span>
            </div>
        </div>
    </span>
</div>

<div class="row" id="network-popUp1" style="display: block;">
    <br>
    <br>
    <label for="node-label">Department</label>
    <br>
    <br>
    <span class="has-float-label">
        <div class="form-group">
            <div class="input-group">
                <input class="form-control" type="text" id="node-label1">
                <label for="node-label">define new</label>
                <span class="input-group-btn">
                    <button class="btn btn-success" id="saveButton" type="button">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </span>
            </div>
        </div>
    </span>
</div>

<div class="row" id="network-popUpsave" style="display: block;">
    <span class="has-float-label">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-success" id="saveButton" type="button">ADD</button>
                </span>
            </div>
        </div>
    </span>
</div>