<link href="../design/mycss/addnew.css" rel="stylesheet">

<!------ Include the above in your HEAD tag ---------->

<div id="network-popUp2" class="row" style="display: block;">
    <br>
    <br>
   
    <label for="node-label" id="popup2-node-id">Department</label>
    <br>
    <br>
    <span class="has-float-label">
        <div class="form-group">
            <div class="input-group">
                <input class="form-control" type="text" id="node-label">
                <label for="node-label" id="popup-node-id">new Department</label>
                <span class="input-group-btn">
                    <button class="btn btn-success" id="saveButton" type="button">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </span>
            </div>
        </div>
    </span>
    
</div>