<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="../../css/directeva.css" rel="stylesheet">
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="../../controller/directeva.js"></script>
<!-- Include the above in your HEAD tag -->

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <BR></BR>
            <BR></BR>
            <BR></BR>
            <BR></BR>
            <BR></BR>
            <label class="col-md-8 col-md-offset-2 control-label">please enter selection department/employeeID</label>
            <BR></BR>
            <BR></BR>
            <nav class="navbar navbar-default">
                    <div class="nav nav-justified navbar-nav">
             
                        <form class="navbar-form navbar-search" role="search">
                            <div class="input-group">
                    
                                <input type="text" class="form-control">
                            
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-search btn-info">
                                        <span class="glyphicon glyphicon-search"></span>
                                        <span class="label-icon">Search</span>
                                    </button>
                                </div>
                            </div>  
                        </form>   
                     
                    </div>
                </nav>
        </div>
    </div>
</div>