<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="../vendor/js/bootstrap.min.js"></script>
<script src="../vendor/js/jquery-3.3.1.min.js"></script>

<link href="../design/mycss/evaluate.css" rel="stylesheet">
<script src="../design/mycontroller/evaluate.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="alert alert-info">
        <h1>please enter skill/obj</h1>
        <h2>and select point</h2>
    </div>

    <div class="col-md-1">
        <div class="input-group spinner">
            <input type="text" class="form-control" value="10" min="10" max="100">
            <div class="input-group-btn-vertical">

                <button class="btn btn-default" type="button">
                    <i class="fa fa-caret-up"></i>
                </button>

                <button class="btn btn-default" type="button">
                    <i class="fa fa-caret-down"></i>
                </button>
                
            </div>
        </div>
        <p class="help-block">Min 10 - Max 100.</p>
    </div>

    <div class="col-md-1">
        <div class="input-group spinner">
            <input type="text" class="form-control" value="70" min="70" max="100">
            <div class="input-group-btn-vertical">
                <button class="btn btn-default" type="button">
                    <i class="fa fa-caret-up"></i>
                </button>
                <button class="btn btn-default" type="button">
                    <i class="fa fa-caret-down"></i>
                </button>
            </div>
        </div>
        <p class="help-block">Min 70 - Max 100.</p>
    </div>

    <div class="col-md-1">
        <div class="input-group spinner">
            <input type="text" class="form-control" value="50" min="50" max="100">
            <div class="input-group-btn-vertical">
                <button class="btn btn-default" type="button">
                    <i class="fa fa-caret-up"></i>
                </button>
                <button class="btn btn-default" type="button">
                    <i class="fa fa-caret-down"></i>
                </button>
            </div>
        </div>
        <p class="help-block">Min 50 - Max 100.</p>
    </div>

</div>
