<link href="../design/mycss/login_via.css" rel="stylesheet">
<script src="../design/mycontroller/login_via.js"></script>
<link href="../design/mycss/definebutton.css" rel="stylesheet">

<center><h5>please select <b>mail </b> icon</h5></center>


<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="material-button-anim">
        <ul class="list-inline" id="options">
          <li class="option">
            <button class="material-button option1" type="button">
              <span class="fa fa-linkedin" aria-hidden="true"></span>
            </button>
          </li>
          <li class="option">
            <button ui-sref="login" class="material-button option2" type="button">
              <span class="fa fa-envelope-o" aria-hidden="true"></span>
            </button>
          </li>
          <li class="option">
            <button class="material-button option3" type="button">
              <span class="fa fa-facebook" aria-hidden="true"></span>
            </button>
          </li>
          <!--li class="option">
            <button class="material-button option4" type="button">
              <span class="fa fa-twitter" aria-hidden="true"></span>
            </button>
          </li>
          <li class="option">
            <button class="material-button option5" type="button">
              <span class="fa fa-instagram" aria-hidden="true"></span>
            </button>
          </li-->
        </ul>
        <button class="material-button material-button-toggle" type="button">
          <span class="fa fa-angle-double" aria-hidden="true">log in</span>
        </button>

      </div>
   

    </div>
  </div>
  <center>
  <button ui-sref="" type="button" class="btn btn-info ">change password </button>
  </center>
</div>